// colors
$clr-light: #fff;
$clr-dark: #2d3033;
$clr-base-ltr: #c6cbcd;
$clr-base-lt: #babbc5;
$clr-base: #6c7279;
$clr-base-dk: #2d3033;
$clr-primary: #ff4343;
$clr-primary-dk: #e71414;
$clr-testimonials-bg: #5c3249;
// font
$ff-base: 'Raleway', sans-serif;
$fs-base: 18px;
$fs-md: 24px;

$general-transition: all 0.3s ease-in-out;

@mixin font($fontSize, $lineHeight, $fontWeight: 400) {
	font-size: $fontSize;
	line-height: $lineHeight;
	font-weight: $fontWeight;
}

%cardo-italic {
	font-family: 'Cardo', serif;
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $ff-base;
	color: $clr-dark;
}

.container {
	max-width: 1210px;
	padding: 0 20px;
	margin: 0 auto;
	width: 100%;
}

.btn {
	display: block;
	margin: 0 auto;
	padding: 30px;
	max-width: 370px;
	width: 100%;
	color: #fff;
	background-color: #ff4343;
	font-size: 24px;
	line-height: 28px;
	font-weight: 900;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background-color: #e71414;
}

.btn:active {
	box-shadow: 4px 4px 30px 0 #ff4343;
	background: #ff4343;
}

.testimonials {
	background-color: $clr-testimonials-bg;
	color: $clr-light;

	@media (max-width: 767px) {
		padding-bottom: 95px;
	}

	&__container {
		display: flex;
		column-gap: 31px;

		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
			row-gap: 25px;
		}
	}

	&__image {
		display: flex;
		flex: 0 1 50%;
		max-width: 50%;
		object-fit: cover;

		@media (max-width: 1024px) {
			max-height: 332px;
		}

		@media (max-width: 767px) {
			width: 100%;
			max-width: 100%;
			max-height: 218px;
			object-fit: cover;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 0 1 50%;
		max-width: 50%;

		@media (max-width: 767px) {
			max-width: 100%;
			text-align: center;
		}
	}

	&__quote {
		@extend %cardo-italic;
		@include font(36px, 49px);
		text-transform: capitalize;
		margin-bottom: 20px;

		@media (max-width: 1024px) {
			@include font(24px, 32px);
		}

		@media (max-width: 767px) {
			margin-bottom: 15px;
		}
	}

	&__author {
		@include font(13px, 15px, 700);
		text-transform: uppercase;

		@media (max-width: 1024px) {
			@include font(12px, 14px, 700);
		}
	}
}

.download {
	padding: 132px 0 114px;

	@media (max-width: 1024px) {
		padding: 93px 0 78px;
	}

	@media (max-width: 767px) {
		padding: 64px 0 45px;
	}

	&__container {
		text-align: center;
	}

	&__title {
		margin-bottom: 22px;
		@include font(30px, 35px, 500);
		text-transform: capitalize;

		@media (max-width: 1024px) {
			margin-bottom: 20px;
			@include font(24px, 28px, 500);
		}

		@media (max-width: 767px) {
			margin-bottom: 11px;
			@include font(18px, 21px, 500);
		}
	}

	&__descr {
		margin-bottom: 50px;
		@include font($fs-base, 21px, 700);
		text-transform: uppercase;

		@media (max-width: 1024px) {
			margin-bottom: 45px;
			@include font(14px, 16px, 700);
		}

		@media (max-width: 767px) {
			margin-bottom: 13px;
			@include font(13px, 15px, 700);
		}
	}

	&__btn {
		max-width: 369px;

		@media (max-width: 1024px) {
			@include font(18px, 21px, 900);
			max-width: 313px;
		}

		@media (max-width: 767px) {
			max-width: 280px;
		}
	}
}
