// colors
$clr-light: #fff;
$clr-dark: #2d3033;
$clr-base-ltr: #c6cbcd;
$clr-base-lt: #babbc5;
$clr-base: #6c7279;
$clr-base-dk: #2d3033;
$clr-primary: #ff4343;
$clr-primary-dk: #e71414;
// font
$ff-base: 'Raleway', sans-serif;
$fs-base: 18px;
$fs-md: 24px;

$general-transition: all 0.3s ease-in-out;

@mixin font($fontSize, $lineHeight, $fontWeight: 400) {
	font-size: $fontSize;
	line-height: $lineHeight;
	font-weight: $fontWeight;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $ff-base;
	color: $clr-dark;
}

.container {
	max-width: 1210px;
	padding: 0 20px;
	margin: 0 auto;
	width: 100%;
}

// WORKS

.works {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	max-width: 1520px;
	gap: 2px;
	margin: 0 auto;

	@media (max-width: 767px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.work {
	position: relative;
	max-width: 378px;
	width: 100%;
	overflow: hidden;
	aspect-ratio: 378 / 340;

	@media (max-width: 1024px) {
		max-width: 256px;
		aspect-ratio: 256 / 230;
	}

	&__image {
		display: flex;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px;

		background: rgba(255, 67, 67, 0.8);
		color: $clr-light;

		opacity: 0;
		visibility: hidden;
		transition: $general-transition;

		.work:hover & {
			opacity: 1;
			visibility: visible;
		}

		.work:active & {
			background: rgba(185, 12, 12, 0.8);
    }
  }
}

.features {
	padding: 109px 0 116px;

	@media (max-width: 1024px) {
		padding: 78px 0 80px;
	}

	@media (max-width: 767px) {
		padding: 40px 0 35px;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 30px;
		row-gap: 88px;

		@media (max-width: 1024px) {
			column-gap: 20px;
			row-gap: 50px;
		}

		@media (max-width: 767px) {
			grid-template-columns: 1fr;
			row-gap: 41px;
		}
	}
}

.feature {
	text-align: center;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto 51px;
		width: 100px;
		aspect-ratio: 1 / 1;
		color: $clr-primary;

		@media (max-width: 1024px) {
			margin-bottom: 44px;
			width: 85px;
		}

		@media (max-width: 767px) {
			margin-bottom: 37px;
			width: 75px;
		}

		svg {
			transform: scale(1);
			transform-origin: center;
			object-fit: contain;

			@media (max-width: 1024px) {
				transform: scale(0.85);
			}

			@media (max-width: 767px) {
				transform: scale(0.75);
			}
    }
  }

	&__title {
		margin-bottom: 42px;
		@include font($fs-md, 28px, 900);
		text-transform: uppercase;

		@media (max-width: 1024px) {
			margin-bottom: 23px;
			@include font(18px, 21px, 900);
		}

		@media (max-width: 767px) {
			margin-bottom: 9px;
		}
	}

	&__text {
		@include font($fs-base, 21px);
		color: $clr-base;

		@media (max-width: 1024px) {
			@include font(14px, 16px);
    }
  }
}

.btn {
	display: block;
	margin: 0 auto;
	padding: 30px;
	max-width: 370px;
	width: 100%;
	color: $clr-light;
	background-color: $clr-primary;
	@include font($fs-md, 28px, 900);
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: $general-transition;

	&:hover {
		background-color: $clr-primary-dk;
	}

	&:active {
		box-shadow: 4px 4px 30px 0 $clr-primary;
		background: $clr-primary;
	}

	@media (max-width: 1024px) {
		padding: 26px;
		max-width: 314px;
	}

	@media (max-width: 767px) {
		padding: 15px;
		max-width: 280px;
	}
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 38px 0 36px;
	border-bottom: 1px solid $clr-base-lt;

	@media (max-width: 767px) {
		padding: 21px 0;
		border-bottom: none;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: 100%;
	}

	&__logo-link {
		max-width: 184px;

		@media (max-width: 1024px) {
			max-width: 180px;
		}
	}

	&__nav {
		display: flex;
		column-gap: 40px;

		@media (max-width: 1024px) {
			column-gap: 25px;
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	&__link {
		text-decoration: none;
		text-transform: uppercase;
		color: $clr-light;
		@include font(13px, 15px, 700);
		transition: $general-transition;

		&:hover {
			color: $clr-base-lt;
		}

		&:active {
			color: $clr-primary-dk;
		}

		@media (max-width: 1024px) {
			@include font(12px, 14px, 700);
		}

		@media (max-width: 767px) {
			max-width: 103px;
		}
	}

	&__burger-menu {
		display: none;

		@media (max-width: 767px) {
			display: flex;
		}
	}
}

.hero {
	position: relative;
	padding: 223px 0 126px;
	background-image: url('../assets/hero-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 1024px) {
		padding-top: 257px;
	}

	@media (max-width: 767px) {
		padding: 106px 0 52px;
	}

	&__title,
	&__descr {
		color: $clr-light;
		text-align: center;
	}

	&__title {
		margin-bottom: 31px;
		text-transform: uppercase;
		@include font(64px, 75px, 900);

		@media (max-width: 1024px) {
			margin-bottom: 61px;
			@include font(48px, 56px, 900);
		}

		@media (max-width: 767px) {
			margin-bottom: 40px;
			@include font(36px, 42px, 900);
		}
	}

	&__descr {
		margin-bottom: 80px;
		@include font($fs-md, 28px);

		@media (max-width: 1024px) {
			margin-bottom: 89px;
			@include font(18px, 21px, 400);
		}

		@media (max-width: 767px) {
			margin-bottom: 59px;
			@include font(14px, 16px, 400);
		}
	}
}
