// colors
$clr-light: #fff;
$clr-dark: #2d3033;
$clr-base-ltr: #c6cbcd;
$clr-base-lt: #babbc5;
$clr-base: #6c7279;
$clr-base-dk: #2d3033;
$clr-primary: #ff4343;
$clr-primary-dk: #e71414;

$clr-footer-bg: #353c65;
$clr-footer-bg-dk: #2c3154;
$clr-footer-text: #808080;

// font
$ff-base: 'Raleway', sans-serif;
$fs-base: 18px;
$fs-md: 24px;

$general-transition: all 0.3s ease-in-out;

@mixin font($fontSize, $lineHeight, $fontWeight: 400) {
	font-size: $fontSize;
	line-height: $lineHeight;
	font-weight: $fontWeight;
}

%cardo-italic {
	font-family: 'Cardo', serif;
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $ff-base;
}

.container {
	max-width: 1210px;
	padding: 0 20px;
	margin: 0 auto;
	width: 100%;
}

.social {
	display: flex;
	column-gap: 5px;
	list-style: none;

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 39px;
		aspect-ratio: 1 / 1;
		border: 1px solid $clr-base-ltr;
		color: $clr-base-ltr;
		transition: $general-transition;

		@media (max-width: 1024px) {
			width: 33px;
		}

		svg {
			transition: $general-transition;

			@media (max-width: 1024px) {
				transform: scale(0.841);
			}
		}

		&:focus {
			border-color: $clr-primary;
			outline: none;
		}

		&:hover {
			border-color: $clr-primary;

			svg {
				color: $clr-primary;
			}
		}

		&:active {
			border-color: $clr-primary-dk;
			box-shadow: inset 0 0 10px 0 #ff4343;

			svg {
				color: $clr-primary-dk;
			}
		}
	}
}

.footer {
	&__wrapper {
		padding: 71px 0;
		background-color: $clr-footer-bg;

		@media (max-width: 1024px) {
			padding: 47px 0 41px;
		}

		@media (max-width: 767px) {
			padding: 34px 0 38px;
		}
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 30px;

		@media (max-width: 767px) {
			grid-template-columns: 1fr;
			row-gap: 64px;
		}
	}

	&__area {
		text-align: center;
		color: $clr-light;
	}

	&__title {
		margin-bottom: 29px;
		@include font($fs-base, 21px, 700);
		text-transform: uppercase;

		@media (max-width: 1024px) {
			margin-bottom: 17px;
			@include font(14px, 16px, 700);
		}

		@media (max-width: 767px) {
			margin-bottom: 34px;
		}
	}

	&__title_social {
		margin-bottom: 49px;

		@media (max-width: 1024px) {
			margin-bottom: 32px;
		}

		@media (max-width: 767px) {
			margin-bottom: 36px;
		}
	}

	&__text {
		@include font($fs-base, 21px);

		@media (max-width: 1024px) {
			@include font(14px, 16px);
		}
	}

	&__copyright-wrapper {
		padding: 23px 0 24px;
		background-color: $clr-footer-bg-dk;

		@media (max-width: 1024px) {
			padding: 14px 0;
		}

		@media (max-width: 767px) {
			padding: 30px 0 28px;
		}
	}

	&__copyright {
		max-width: 370px;
		margin: 0 auto;
		@include font($fs-base, 21px);
		text-align: center;
		color: $clr-footer-text;

		@media (max-width: 1024px) {
			max-width: 314px;
			@include font(14px, 16px);
		}

		@media (max-width: 767px) {
			max-width: 280px;
		}
	}

	&__highlight {
		color: $clr-light;
	}

	&__social {
		justify-content: center;
		column-gap: 27px;
	}
}
