* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: #2d3033;
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1520px;
  gap: 2px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .works {
    grid-template-columns: repeat(2, 1fr);
  }
}

.work {
  position: relative;
  max-width: 378px;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 378/340;
}
@media (max-width: 1024px) {
  .work {
    max-width: 256px;
    aspect-ratio: 256/230;
  }
}
.work__image {
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgba(255, 67, 67, 0.8);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.work:hover .work__content {
  opacity: 1;
  visibility: visible;
}
.work:active .work__content {
  background: rgba(185, 12, 12, 0.8);
}
.work__title {
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .work__title {
    margin-bottom: 22px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
  }
}
@media (max-width: 767px) {
  .work__title {
    margin-bottom: 7px;
  }
}
.work__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .work__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}

.team {
  padding: 153px 0 114px;
}
@media (max-width: 1024px) {
  .team {
    padding: 78px 0;
  }
}
@media (max-width: 767px) {
  .team {
    padding: 35px 0 41px;
  }
}
.team__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 767px) {
  .team__container {
    grid-template-columns: 280px;
    justify-content: center;
    row-gap: 49px;
  }
}
.team__image {
  width: 100%;
  margin-bottom: 30px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .team__image {
    aspect-ratio: 280/227;
  }
}
.team__title {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .team__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
  }
}
.team__subtitle {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #ff4343;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .team__subtitle {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .team__subtitle {
    margin-bottom: 38px;
  }
}
.team__text {
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #6c7279;
}
@media (max-width: 1024px) {
  .team__text {
    margin-bottom: 39px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .team__text {
    margin-bottom: 55px;
  }
}

.social {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  list-style: none;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  aspect-ratio: 1/1;
  border: 1px solid #c6cbcd;
  color: #c6cbcd;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .social__link {
    width: 33px;
  }
}
@media (max-width: 767px) {
  .social__link {
    width: 39px;
  }
}
.social__link svg {
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .social__link svg {
    transform: scale(0.841);
  }
}
@media (max-width: 767px) {
  .social__link svg {
    transform: scale(1);
  }
}
.social__link:focus {
  border-color: #ff4343;
  outline: none;
}
.social__link:hover {
  border-color: #ff4343;
}
.social__link:hover svg {
  color: #ff4343;
}
.social__link:active {
  border-color: #e71414;
  box-shadow: inset 0 0 10px 0 #ff4343;
}
.social__link:active svg {
  color: #e71414;
}/*# sourceMappingURL=style.css.map */